@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* .nav-container { */
/* display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1%;
  padding-right: 1%;
  width: 95vw; */
/* } */

/* .search-bar {
  font-size: 1.3rem;
} */

.card-container {
  margin-top: 6%;
  display: flex;
  background: linear-gradient(
    to right bottom,
    rgba(127, 170, 182, 0.7),
    rgba(98, 56, 138, 0.3)
  );
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  width: 60%;
  height: 50vh;
  font-family: "Poppins", sans-serif;
}
.card-container div {
}

/* .pic-of-day:hover {
  transform: scale(1.5);
} */
.info-container {
  margin: 1rem;
  overflow: auto;
  white-space: pre-line;
  width: 40vw;
  object-fit: contain;
  margin-left: 5rem;
}
.info-container::-webkit-scrollbar {
  display: none;
}

.info-container h3 {
  border-radius: 3rem;
  font-family: "Abel", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1rem;

  background: white;
  color: black;
}

.info-container h1 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  color: white;
}
.info-container p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(223, 209, 236);
}

.nav-title img {
  height: 9rem;
}
.pic-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-of-day {
  max-height: 83%;
  max-width: 87%;
  border-radius: 50%;
  margin-right: 1%;
  /* border: 0.2rem solid rgba(26, 10, 31, 0.3); */
  box-shadow: 1px 1px 100px rgb(16, 6, 17);
  transform: scale();
}
.pic-of-day:hover {
  cursor: pointer;
  box-shadow: 1px 1px 200px rgb(13, 15, 17);
  transform: scale(1.15);
}
/* .random-btn {S
  background: white;
  color: black;
  border: none;
  font-size: 1.6rem;
  font-family: "Abel", sans-serif;
  border-radius: 3rem;
  font-weight: 600;
  padding: 1.5%;
  letter-spacing: 0.2rem;
  text-align: center;
} */

@media only screen and (max-width: 600px) {
  .nav-title img {
    height: 4rem;
  }
  .nav-title {
    font-size: 1rem;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 85%;
    height: 90vh;
  }
  .info-container {
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .info-container h3 {
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0;
    padding-bottom: 1rem;
  }

  .info-container h1 {
    font-size: 1.5rem;
    letter-spacing: 0;
  }

  .info-container p {
    font-size: 1rem;
    text-align: center;
  }
}
